/*
!/src/
!/src/**
!/ScopeOneCore/
!/ScopeOneCore/**
!/plugins/
!/plugins/**
/ScopeOneCore/install/
/ScopeOneCore/build/
/ScopeOneCore/external/*
!/ScopeOneCore/external/ScopeWriter/
!/ScopeOneCore/external/ScopeWriter/**
/ScopeOneCore/python/*
!/scripts/
!/scripts/**

!/.github/
!/.github/**

!/resources/
!/resources/**

!/config/
/config/*
!/config/MMConfig_demo.cfg
!/config/dual_hamamatsu_897D.cfg
!/config/MMConfig_demo_dual.cfg

!/CMakeLists.txt
!/README.md
!/VERSION

!/.gitignore

/build/
/ref/
**/.DS_Store
