# Reset
Property,Core,Initialize,0

# Devices
Device,Camera,DemoCamera,DCam
Device,Camera2,DemoCamera,DCam

# Pre-init settings
Property,Camera,MaximumExposureMs,10000.0
Property,Camera2,MaximumExposureMs,10000.0

# Initialize
Property,Core,Initialize,1

# Roles
Property,Core,Camera,Camera

# Configuration presets
# Group: Camera
# Preset: MedRes
ConfigGroup,Camera,MedRes,Camera,Binning,2
ConfigGroup,Camera,MedRes,Camera,BitDepth,10
ConfigGroup,Camera,MedRes,Camera2,Binning,2
ConfigGroup,Camera,MedRes,Camera2,BitDepth,10

# Preset: HighRes
ConfigGroup,Camera,HighRes,Camera,Binning,1
ConfigGroup,Camera,HighRes,Camera,BitDepth,12
ConfigGroup,Camera,HighRes,Camera2,Binning,1
ConfigGroup,Camera,HighRes,Camera2,BitDepth,12

# Preset: LowRes
ConfigGroup,Camera,LowRes,Camera,Binning,4
ConfigGroup,Camera,LowRes,Camera,BitDepth,8
ConfigGroup,Camera,LowRes,Camera2,Binning,4
ConfigGroup,Camera,LowRes,Camera2,BitDepth,8

# Group: System
# Preset: Startup
ConfigGroup,System,Startup,Camera,Binning,1
ConfigGroup,System,Startup,Camera,BitDepth,12
ConfigGroup,System,Startup,Camera2,Binning,1
ConfigGroup,System,Startup,Camera2,BitDepth,12
