!include/
!internal/
!/src/

!CMakeLists.txt
!README.md

!python/
!python/ScopeOneCoreBindings.cpp
!python/scopeone/
!python/scopeone/.gitignore
!python/scopeone/README.md
!python/scopeone/pyproject.toml
!python/scopeone/examples/
!python/scopeone/examples/**
!python/scopeone/tests/
!python/scopeone/tests/**
!python/scopeone/src/
!python/scopeone/src/scopeone/
!python/scopeone/src/scopeone/**/*.py
!python/scopeone/src/scopeone/*.py

!/.gitignore
